<p>detail-cour works!</p>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <app-sidebar></app-sidebar>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <app-navbar></app-navbar>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
                    <ngb-alert #selfClosingAlert *ngIf="erreurMessage" type="danger" (closed)="erreurMessage = ''">{{ erreurMessage }}</ngb-alert>
                
                    <div class="row">
                                                                        <!-- User Sidebar -->
                        <div
                            class="col-xl-12 col-lg-5 col-md-5 order-1 order-md-0"
                        >
                            <!-- User Card -->
        
                            <div class="card mb-12">
                                <div class="card-body">
                                    <div class="user-avatar-section">
                                        <div
                                            class="d-flex align-items-center flex-column"
                                        >
        
                                                                                            <img
                                                    class="img-fluid rounded my-4"
                                                    src="https://cdn-icons-png.flaticon.com/512/1672/1672286.png"
                                                    height="110"
                                                    width="110"
                                                    alt="User avatar"
                                                />
                                                                                        <div
                                                class="user-info text-center"
                                            >
                                                <h4 class="mb-2">
                                                    {{cour.code}}-
                                                    {{cour.description}}
                                                </h4>
                                                <span
                                                    class="badge bg-label-secondary"
                                                >cours</span
                                                >
                                            </div>
                                        </div>
                                    </div>
        
                                    <h5 class="pb-2 border-bottom mb-4">
                                        Détails
                                    </h5>
                                    <div class="info-container">
                                        <form #f enctype="multipart/form-data" id="editUserForm" (ngSubmit)="submitForm()" class="row g-3">
        
                                        
                                    
                                            <div class="col-12 col-md-6">
                                                <label
                                                    class="form-label"
                                                    for="description"
                                                >Description</label
                                                >
                                                <input
                                                    type="text"
                                                    id="description"
                                                    name="description"
                                                    class="form-control"
                                                    [value]="cour.description"   
                                                    aria-label="description"
                                                     [(ngModel)]="cour.description"    
                                                     required #description="ngModel">
                                                     <div class="text-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
                                                         <div *ngIf="description.errors?.['required']">La description est requise.</div>
                                                     </div>                 
                                            </div>
                              
                                            <div class="col-12 col-md-6">
                                                <label
                                                    class="form-label"
                                                    for="frais"
                                                >frais</label
                                                >
                                                <input
                                                    type="text"
                                                    id="frais"
                                                    name="frais"
                                                    class="form-control"
                                                    [value]="cour.frais"   
                                                    aria-label="frais"
                                                     [(ngModel)]="cour.frais"                                                readonly
                                                />
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label
                                                    class="form-label"
                                                    for="date"
                                                >date</label
                                                >
                                                <input
                                                    type="date"
                                                    id="date"
                                                    name="date"
                                                    class="form-control"
                                                    [value]="cour.date"   
                                                    aria-label="date"
                                                     [(ngModel)]="cour.date"    
                                                     required #date="ngModel">
                                                     <div class="text-danger" *ngIf="date.invalid && (date.dirty || date.touched)">
                                                         <div *ngIf="date.errors?.['required']">La date est requise.</div>
                                                     </div>                 
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label
                                                    class="form-label"
                                                    for="hdeb"
                                                >hdeb</label
                                                >
                                                <input
                                                    type="text"
                                                    id="hdeb"
                                                    name="hdeb"
                                                    class="form-control"
                                                    [value]="cour.hdeb"   
                                                    aria-label="hdeb"
                                                     [(ngModel)]="cour.hdeb"                                                readonly
                                                />
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label
                                                    class="form-label"
                                                    for="hfin"
                                                >hfin</label
                                                >
                                                <input
                                                    type="text"
                                                    id="hfin"
                                                    name="hfin"
                                                    class="form-control"
                                                    [value]="cour.hfin"   
                                                    aria-label="hfin"
                                                     [(ngModel)]="cour.hfin"    
                                                     required #hfin="ngModel">
                                                     <div class="text-danger" *ngIf="hfin.invalid && (hfin.dirty || hfin.touched)">
                                                         <div *ngIf="hfin.errors?.['required']">La hfin est requise.</div>
                                                     </div>                 
                                            </div>
                                         
                                            <div class="col-12 col-md-6" *ngIf="ispresentiel">
                                                <label
                                                    class="form-label"
                                                    for="emplacement"
                                                >emplacement</label
                                                >
                                                <input
                                                    type="text"
                                                    id="emplacement"
                                                    name="emplacement"
                                                    class="form-control"
                                                    [value]="cour.emplacement"   
                                                    aria-label="emplacement"
                                                     [(ngModel)]="cour.emplacement"    
                                                     required #emplacement="ngModel">
                                                     <div class="text-danger" *ngIf="emplacement.invalid && (emplacement.dirty || emplacement.touched)">
                                                         <div *ngIf="emplacement.errors?.['required']">L'emplacement est requise.</div>
                                                     </div>                 
                                            </div>
                                            <div class="col-12 col-md-6" *ngIf="isenligne">
                                                <label
                                                    class="form-label"
                                                    for="emplacement"
                                                >Lien meet</label
                                                >
                                                <input
                                                    type="text"
                                                    id="lienmeet"
                                                    name="lienmeet"
                                                    class="form-control"
                                                    [value]="cour.lienmeet"   
                                                    aria-label="lienmeet"
                                                     [(ngModel)]="cour.lienmeet"    
                                                     required #lienmeet="ngModel" readonly>
                                                                  
                                            </div>
                                            <video width="320" height="240" controls *ngIf="isvideo">
                                                <source src="assets/cours/{{cour.lienvideo}}" type="video/mp4">
                                                Your browser does not support the video tag.
                                              </video>
                                           
                                            <div class="d-flex justify-content-center pt-3">
        
                                            </div>
                                        </form>
        
                                    </div>
                                </div>
                            </div>
                            <!-- /User Card -->
        
                        </div>
                        <!--/ User Sidebar -->
        
                    </div>
        
                </div>
             
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddCours" aria-labelledby="offcanvasAddCoursLabel">
                   
                    <div class="offcanvas-body mx-0 flex-grow-0">
                
                    </div>
                </div>

                <!-- / Content -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
