  <!-- Navbar: End -->
  
  <!-- Sections:Start -->
  <!-- Help Center Header: Start -->
  
  <!-- Help Center Header: End -->
  <!-- Help Center Header: End -->
  <section class="section-py first-section-pt" style="margin-top: 100px;">
    <div class="container">
      <div class="event-schedule-area-two bg-color pad100" style="height: 1000px;width: 800px;margin-left: 40px;">
  
        <!-- row end -->
        <div class="row">
          <div class="col-lg-12">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active show" id="home" role="tabpanel">
                <div class="table-responsive">
                  <div class="course-table">
                    <div class="course-row" *ngFor="let item of coursPresentiel">
                      <div class="course-info">
                        <div class="course-date-time">
                          <span class="course-day">{{ item.date | date: 'EEEE, dd MMMM yyyy' }}</span>
                          <span class="course-time">{{ item.duree }} min</span>
                        </div>
                        <div class="course-details">
                          <span class="course-type">{{ item.categorie_cours.description }}</span>
                          <span class="course-name">{{ item.description }}</span>
                          <span class="instructor">{{ item.instructor.nom }} {{ item.instructor.prenom }}</span>
                        </div>
                      </div>
                      <div class="course-reserve">
                        <span class="price">{{ item.frais }} DT </span>
                        <button class="reserve-button" [routerLink]="'../../auth/login'" style="margin-bottom: 20px;">payer</button>
                        <button class="reserve-button" [routerLink]="'../../auth/login'">Envoyer une demande</button>                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /col end -->
        </div>
        <!-- /row end -->
      </div>
    </div>
  </section>
  <!-- Popular Articles: Start -->
  
  <!-- Contact Us: End -->
  
  <!-- Footer: Start -->
  <!-- Footer: End -->
  