
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
  <app-sidebar></app-sidebar>
         
          <!-- / Menu -->
  
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
  <app-navbar></app-navbar>   
  
            <!-- / Navbar -->
  
            <!-- Content wrapper -->
            <div class="content-wrapper" style="padding-bottom: 20px;margin-top: 20px;">
              <!-- Content -->

              
              <div class="container" style="padding-top: 40px;">
                <div class="inner-container" >
                  <div *ngIf="Formations.emplacement" class="Formationse-details">
                    <h1>Formations de {{ Formations.sujet }}</h1>
                    <p><strong>Date:</strong> {{ Formations.date | date: 'dd/MM/yyyy' }}</p>
               
                    <p><strong>Catégorie:</strong> {{ Formations.categ_formation.lib }}</p>
                    <p><strong>Emplacement:</strong> {{ Formations.emplacement }}</p>
              
                    <h2>Instructeur</h2>
                    <p><strong>Nom:</strong> {{ Formations.instructor.nom }} {{ Formations.instructor.prenom }}</p>
                  </div>
                  <div *ngIf="Formations.lienMeet" class="Formationse-details">
                    <h1>Formations de {{ Formations.sujet }}</h1>
                    <p><strong>Date:</strong> {{ Formations.date | date: 'dd/MM/yyyy' }}</p>
            
                    <p><strong>Catégorie:</strong> {{ Formations.categ_formation.lib }}</p>
                    <p><strong>Lien de session:</strong> <a [href]="Formations.lienMeet">Rejoindre</a></p>
              
                    <h2>Instructeur</h2>
                    <p><strong>Nom:</strong> {{ Formations.instructor.nom }} {{ Formations.instructor.prenom }}</p>
                  </div>
                  <div *ngIf="Formations.lienvideo" class="Formationse-details">
                    <h1>Formations de {{ Formations.sujet }}</h1>
                    <p><strong>Date:</strong> {{ Formations.date | date: 'dd/MM/yyyy' }}</p>
                 
                    <p><strong>Catégorie:</strong> {{ Formations.categ_formation.lib }}</p>
                    <p><strong>Lien de video:</strong> <a [href]="Formations.lienvideo">Rejoindre</a></p>
              
                    <h2>Instructeur</h2>
                    <p><strong>Nom:</strong> {{ Formations.instructor.nom }} {{ Formations.instructor.prenom }}</p>
                  </div>
                </div>
              </div>
              
 
         
              <!-- / Content -->
  
              <!-- Footer -->
            <app-footer></app-footer>
              <!-- / Footer -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
      <!-- / Layout wrapper -->
  
    
  
   
    