<app-nav></app-nav>

  <!-- Navbar: End -->
  
  <!-- Sections:Start -->
  <!-- Help Center Header: Start -->
  
  <!-- Help Center Header: End -->
  <!-- Help Center Header: End -->
  <section class="section-py first-section-pt" style="margin-top: 100px;">
      <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="row">
            <div class="col-md-8 mb-md-0 mb-8">
              <div class="card border shadow-none">
                <div class="card-body text-center">
                  <img
                    src="https://expertdev-solutions.com/zen_gym_site/images/logo.png"
                    style="width: 40%"
                  />
                  <p style="text-align: justify">
                    ZENGYM est une plateforme innovante qui offre une variété de
                    cours, d&#039;événements et de formations dans le domaine du
                    sport, en ligne ou en présentiel. Notre plateforme est conçue
                    pour les passionnés de sport de tous niveaux, des débutants
                    aux athlètes confirmés, en passant par les professionnels du
                    sport. Nous proposons une gamme complète de cours, allant de
                    la musculation et du cardio-training à la danse et au yoga,
                    enseignés par des instructeurs qualifiés et expérimentés.
                  </p>
                  <p style="text-align: justify">
                    Nous organisons également des événements sportifs réguliers,
                    tels que des compétitions et des tournois, pour permettre à
                    nos membres de se mesurer les uns aux autres et de se motiver
                    mutuellement. En outre, nous offrons des formations
                    professionnelles pour ceux qui souhaitent devenir instructeurs
                    de sport ou se perfectionner dans leur domaine.
                  </p>
                  <p style="text-align: justify">
                    Notre plateforme est facile à utiliser et accessible depuis
                    n&#039;importe quel appareil, ce qui permet à nos membres de
                    suivre des cours et de participer à des événements à tout
                    moment et en tout lieu. Rejoignez dès maintenant la communauté
                    ZENGYM et découvrez le plaisir de pratiquer le sport dans un
                    environnement stimulant et motivant.
                  </p>
                  <a class="btn btn-sm btn-label-primary" href="#">Voir plus</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-4">
              <img
                src="https://assets-global.website-files.com/61711827199c39768e329c82/62d54b307556582cf2f4af28_best-personal-trainer-app.webp"
                style="width: 450px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Popular Articles: Start -->
  
  <!-- Contact Us: End -->
  
  <!-- Footer: Start -->
<app-footer></app-footer>
  <!-- Footer: End -->
  