  <!-- Content -->

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Enregistrement -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                          <img src="https://expertdev-solutions.com/zen_gym_site/images/logo.png"  style="width:80%;">

                            </span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Bienvenue chez ZENGYM ! 👋</h4>
                    <p class="mb-4">Veuillez vous connecter à votre compte et commencer l'aventure</p>

                    <form id="formAuthentication" class="mb-3" #resetForm="ngForm" (ngSubmit)="onResetSubmit(resetForm)">
                        <div class="mb-3">
                            <label for="email" class="form-label">Nouveau mot de passe</label>
                            <input
                                type="password" class="form-control" name="newPassword" placeholder="Nouveau mot de passe"
                                ngModel required #newPassword="ngModel">
                        </div>
                        <div class="alert alert-danger" *ngIf="newPassword.invalid && newPassword.touched">
                            <div *ngIf="newPassword.errors?.['required']">Le nouveau mot de passe est requis</div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Confirmer le nouveau mot de passe</label>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control" name="confirmNewPassword"
                                    placeholder="Confirmer le nouveau mot de passe" ngModel required #confirmNewPassword="ngModel">
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <div class="alert alert-danger" *ngIf="newPassword.invalid && newPassword.touched">
                                <div *ngIf="newPassword.errors?.['required']">La confirmation du nouveau mot de passe est requise</div>
                                <div *ngIf="resetForm.value.newPassword !== resetForm.value.confirmNewPassword">
                                    Les mots de passe ne correspondent pas
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="confirmNewPassword.invalid && confirmNewPassword.touched">
                                <div *ngIf="confirmNewPassword.errors?.['required']">La confirmation est requise</div>
                                <div *ngIf="resetForm.value.newPassword !== resetForm.value.confirmNewPassword">
                                    Les mots de passe ne correspondent pas
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me" />
                                <label class="form-check-label" for="remember-me">Se souvenir de moi</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="resetForm.invalid">Réinitialiser le mot de passe</button>
                        </div>
                    </form>
                    
                    <p class="text-center">
                        <span>Nouveau sur notre plateforme ?</span>
                        <a routerLink="../register">
                            <span>Créer un compte</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Enregistrement -->
        </div>
    </div>
</div>

  <!-- / Content -->
