
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
  <app-sidebar></app-sidebar>
         
          <!-- / Menu -->
  
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
  <app-navbar></app-navbar>   
  
            <!-- / Navbar -->
  
            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->
  
         
              <!-- / Content -->
    <!-- Content -->
   
    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row">
                                                            <!-- User Sidebar -->
            <div
                class="col-xl-12 col-lg-5 col-md-5 order-1 order-md-0"
            >
                <!-- User Card -->

                <div class="card mb-12">
                    <div class="card-body">
                        <div class="user-avatar-section">
                            <div
                                class="d-flex align-items-center flex-column"
                            >
                                <img
                                    class="img-fluid rounded my-4"
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/People_icon_half.svg/1024px-People_icon_half.svg.png"
                                    height="110"
                                    width="110"
                                    alt="User avatar"
                                />
                                <div
                                    class="user-info text-center"
                                >
                                    <h4 class="mb-2">
                                        {{typeAbonnement.code}} -
                                        {{typeAbonnement.description}}
                                    </h4>
                                    <span
                                        class="badge bg-label-secondary"
                                    >Types des abonnements</span
                                    >
                                </div>
                            </div>
                        </div>

                        <h5 class="pb-2 border-bottom mb-4">
                            Détails
                        </h5>
                        <div class="info-container">
                            <form id="editUserForm" class="row g-3" (ngSubmit)="updateTypeAbonnement()">
                                <div class="col-12 col-md-4">
                                    <label class="form-label" for="cat_inst_id">Catégories des abonnements</label>
                                    <select id="cat_inst_id" name="cat_inst_id" class="select2 form-select" [(ngModel)]="selectedCategAbonnementId" required>
                                        <option *ngFor="let categ_abonnement of Categ_abonnement" [ngValue]="categ_abonnement.id">{{ categ_abonnement.description }}</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label" for="desc">Types des abonnements</label>
                                    <input type="text" id="desc" name="desc" class="form-control" [(ngModel)]="typeAbonnement.description" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label" for="nb_mois">Nombre de mois</label>
                                    <input type="text" id="nb_mois" name="nb_mois" class="form-control" [(ngModel)]="typeAbonnement.nembre_mois" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label" for="taux_tva">Taux TVA</label>
                                    <input type="text" id="taux_tva" name="taux_tva" class="form-control" [(ngModel)]="typeAbonnement.taux_tva" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label" for="prix_ht">Prix unitaire HT</label>
                                    <input type="text" id="prix_ht" name="prix_ht" class="form-control" [(ngModel)]="typeAbonnement.prix_u_ht" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label" for="prix_ttc">Prix unitaire TTC</label>
                                    <input type="text" id="prix_ttc" name="prix_ttc" class="form-control" [(ngModel)]="typeAbonnement.prix_u_ttc" />
                                </div>
                                <div class="d-flex justify-content-center pt-3">
                                    <button type="submit" class="btn btn-primary" id="submitButton">Modifier</button>
                                </div>
                            </form>
                            

                        </div>
                    </div>
                </div>
                <!-- /User Card -->

            </div>
            <!--/ User Sidebar -->

        </div>

    </div>
  
    <!-- / Content -->
              <!-- Footer -->
            <app-footer></app-footer>
              <!-- / Footer -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
      <!-- / Layout wrapper -->
  
      
  
   
    