
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
  <app-sidebar></app-sidebar>
         
          <!-- / Menu -->
  
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
  <app-navbar></app-navbar>   
  
            <!-- / Navbar -->
  
            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->
  
         
              <!-- / Content -->
     <!-- Content -->
     <div class="container-xxl flex-grow-1 container-p-y">
        <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
        <ngb-alert #selfClosingAlert *ngIf="erreurMessage" type="danger" (closed)="erreurMessage = ''">{{ erreurMessage }}</ngb-alert>
        <div class="row">
        <div class="row">
                                                            <!-- User Sidebar -->
            <div
                class="col-xl-12 col-lg-5 col-md-5 order-1 order-md-0"
            >
                <!-- User Card -->

                <div class="card mb-12">
                    <div class="card-body">

                        <div class="info-container">
                            <form class="row g-3" (ngSubmit)="ajouternouvelleVente(venteForm)" #venteForm="ngForm">
                                <h5 class="pb-2 border-bottom mb-4">Ajouter une vente</h5>
                                <div class="col-md-6">
                                    <label class="form-label" for="date">Date</label>
                                  <input type="text" class="form-control" id="date" value="2024-04-15" name="date" aria-label="Date" readonly />
                                </div>
                          
                                <div class="col-md-6">
                                    <label class="form-label" for="type_abo_id">Type d'abonnement</label>
                                  <select id="type_abo_id" name="type_abo_id" class="select2 form-select" required [(ngModel)]="nouvelleVente.type_abo_id" #typeAboId="ngModel" (change)="loadtab()">
                                    <option value="null" disabled selected>Type d'abonnement</option>
                                    <option *ngFor="let ty of TypeAbonnement" [value]="ty.id">{{ ty.description }} {{ ty.prenom }}</option>
                                  </select>
                                  <div *ngIf="typeAboId.invalid && (typeAboId.dirty || typeAboId.touched)" class="text-danger">
                                    Le type d'abonnement est requis.
                                  </div>
                                </div>
                                <div class="col-12 col-md-12">
                                  <div class="card-datatable table-responsive">
                                    <table class="datatables-users table border-top" style="white-space: nowrap;width:100%">
                                      <tr>
                                        <td style="text-align:center;width:150px">
                                          Code<br>
                                          <input type="text" id="code_prod_input" name="code_prod_input" class="form-control" readonly [(ngModel)]="nouvelleVente.code" />
                                        </td>
                                        <td style="text-align:center;">
                                          Description<br>
                                          <input type="text" id="desc_prod_input" name="description" class="form-control" required [(ngModel)]="nouvelleVente.description" #description="ngModel">
                                          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
                                            La description est requise.
                                          </div>
                                        </td>
                                        <td style="text-align:center;width:150px">
                                          Nombre de mois<br>
                                          <input type="number" id="nb_mois_input" name="nb_mois_input" class="form-control" required [(ngModel)]="nouvelleVente.nb_mois" #nbMoisInput="ngModel">
                                          <div *ngIf="nbMoisInput.invalid && (nbMoisInput.dirty || nbMoisInput.touched)" class="text-danger">
                                            Le nombre de mois est requis.
                                          </div>
                                        </td>
                                     <td style="text-align:center;width:150px">
                                            Prix unitaire HT
                                            <br>
                                            <input type="number" id="prix_ttc_input" name="prix_ht" class="form-control"  [(ngModel)]="nouvelleVente.prix_ht" required #prixHtInput="ngModel">
                                            <div *ngIf="prixHtInput.invalid && (prixHtInput.dirty || prixHtInput.touched)" class="text-danger">
                                                Le prix unitaire TTC est requis.
                                            </div>
                                        </td>
                                        <td style="text-align:center;width:150px">
                                            Taux TVA
                                            <br>
                                            <input type="number"  name="taux_tva" class="form-control"  [(ngModel)]="nouvelleVente.taux_tva" required #tauxTvaInput="ngModel">
                                            <div *ngIf="tauxTvaInput.invalid && (tauxTvaInput.dirty || tauxTvaInput.touched)" class="text-danger">
                                                Le taux TVA est requis.
                                            </div>
                                        </td>
                                        <td style="text-align:center;width:150px">
                                            Prix unitaire TTC
                                            <br>
                                            <input type="number"  name="prix_ttc" class="form-control"  [(ngModel)]="nouvelleVente.prix_ttc" required #prixTtcInput="ngModel">
                                            <div *ngIf="prixTtcInput.invalid && (prixTtcInput.dirty || prixTtcInput.touched)" class="text-danger">
                                                Le prix unitaire TTC est requis.
                                            </div>
                    
                                        
                                        
                                      </tr>
                                      <!-- Ajoutez d'autres lignes de tableau ici si nécessaire -->
                                    </table>
                                  </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label" for="date_deb">Date début</label>
                                    <input type="date" class="form-control" id="date_deb" value="2024-04-15" name="date_deb" aria-label="Date début" (change)="calculate_date_fin()" required [(ngModel)]="nouvelleVente.date_deb" #dateDeb="ngModel">
                                    <div *ngIf="dateDeb.invalid && (dateDeb.dirty || dateDeb.touched)" class="text-danger">
                                      La date de début est requise.
                                    </div>
                                  </div>
                                  <div class="col-12 col-md-4">
                                    <label class="form-label" for="date_fin">Date fin</label>
                                    <input type="date" class="form-control" id="date_fin" value="2024-04-15" name="date_fin" aria-label="Date fin" readonly required [(ngModel)]="nouvelleVente.date_fin" #dateFin="ngModel" >
                                    <div *ngIf="dateFin.invalid && (dateFin.dirty || dateFin.touched)" class="text-danger">
                                      La date de fin est requise.
                                    </div>
                                  </div>
                                <div class="col-12 col-md-4">
                                  <label class="form-label" for="paiement">Paiement</label>
                                  <input type="text" class="form-control" id="paiement" value="0" name="paiement" aria-label="Paiement" required [(ngModel)]="nouvelleVente.paiement" #paiement="ngModel">
                                  <div *ngIf="paiement.invalid && (paiement.dirty || paiement.touched)" class="text-danger">
                                    Le paiement est requis.
                                  </div>
                                </div>
                                <div class="d-flex justify-content-center pt-3">
                                  <button type="submit" class="btn btn-primary" [disabled]="venteForm.invalid">Valider</button>
                                </div>
                              </form>
                              
                              
                            

                        </div>
                    </div>
                </div>
                <!-- /User Card -->

            </div>
            <!--/ User Sidebar -->

        </div>

    </div>






    <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasAddUser"
        aria-labelledby="offcanvasAddUserLabel"
    >
        <div class="offcanvas-header">
            <h5
                id="offcanvasAddUserLabel"
                class="offcanvas-title"
            >
                Ajouter un instructeur

            </h5>
            <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
        </div>
        <div
            class="offcanvas-body mx-0 flex-grow-0"
        >

            <form method="POST" enctype="multipart/form-data" action="https://expertdev-solutions.com/zen_gym_site/admin/ajout_instructeur" class="row g-3">
                <input type="hidden" name="_token" value="H2IsrShr9ZuUm04fipVtOM3ytw8j7u99a9vG2xrJ">
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="photo"
                    >Photo</label
                    >
                    <input
                        type="file"
                        class="form-control"
                        id="photo"
                        placeholder="Photo"
                        name="photo"
                        aria-label="Photo"
                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="nom"
                    >Nom</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="nom"
                        placeholder="Nom"
                        name="nom"
                        aria-label="Nom"

                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="prenom"
                    >Prénom</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="prenom"
                        placeholder="Prénom"
                        name="prenom"
                        aria-label="Prénom"

                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="mail"
                    >Email</label
                    >
                    <input
                        type="email"
                        class="form-control"
                        id="mail"
                        placeholder="Email"
                        name="mail"
                        aria-label="Email"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="adresse"
                    >Adresse</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="adresse"
                        placeholder="Adresse"
                        name="adresse"
                        aria-label="Adresse"

                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="tel"
                    >Téléphone</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="tel"
                        placeholder="Téléphone"
                        name="tel"
                        aria-label="Téléphone"

                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="date_naiss"
                    >Date de naissance</label
                    >
                    <input
                        type="date"
                        class="form-control"
                        id="date_naiss"
                        value="2024-04-15"
                        name="date_naiss"
                        aria-label="Date de naissance"

                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="sexe"
                    >genre</label
                    >
                    <div class="col-md">
                        <div class="form-check form-check-inline mt-3">
                            <input class="form-check-input" type="radio" name="sexe" id="inlineRadio1" value="H" checked/>
                            <label class="form-check-label" for="inlineRadio1">Homme</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexe" id="inlineRadio2" value="F" />
                            <label class="form-check-label" for="inlineRadio2">Femme</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="profession"
                    >Profession</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="profession"
                        placeholder="Profession"
                        name="profession"
                        aria-label="Profession"

                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="cin"
                    >CIN</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        id="cin"
                        placeholder="CIN"
                        name="cin"
                        aria-label="CIN"

                    />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pays_id">Pays</label>
                    <select id="pays_id" name="pays_id" class="select2 form-select" required>
                        <option value="null">Pays</option>
                                                                <option value="1">Afghanistan</option>


                                                        </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="categ_instructeur_id">Catégories des instructeurs</label>
                    <select id="categ_instructeur_id" name="categ_instructeur_id" class="select2 form-select" required>
                        <option value="null">Catégories des instructeurs</option>
                                                                <option value="1">XX</option>

                                                        </select>
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="email"
                    >Nom d&#039;utilisateur</label
                    >
                    <input
                        type="text"
                        class="form-control"
                        id="email"
                        placeholder="Nom d&#039;utilisateur"
                        name="email"
                        aria-label="Nom d&#039;utilisateur"

                    />
                </div>
                <div class="mb-3">
                    <label
                        class="form-label"
                        for="password"
                    >Mot de passe</label
                    >
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="*****"
                        name="password"
                        aria-label="Mot de passe"

                    />
                </div>
                <input
                    type="hidden"
                    class="form-control"
                    id="verif_nature"
                    value="vente_abo"
                    name="verif_nature"

                />
                <button
                    type="submit"
                    class="btn btn-primary me-sm-3 me-1 data-submit"

                >
                    Valider
                </button>
                <button
                    type="reset"
                    class="btn btn-label-secondary"
                    data-bs-dismiss="offcanvas"
                >
                    Annuler
                </button>
            </form>
        </div>
    </div>

    <!-- / Content -->
              <!-- Footer -->
            <app-footer></app-footer>
              <!-- / Footer -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
      <!-- / Layout wrapper -->
  
      
  
   
    