.content-wrapper {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  position: relative;
}

.tab-item.active {
  color: #d63384; /* Couleur rose */
}

.tab-item.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #d63384; /* Couleur rose */
}

.tab-content {
  padding-top: 0; /* Adjust padding to zero or desired value */
  margin-top: -20px; /* Adjust margin to reduce space */
}
