  <!-- Navbar: End -->
  
  <!-- Sections:Start -->
  <!-- Help Center Header: Start -->
  
  <!-- Help Center Header: End -->
  <!-- Help Center Header: End -->
  <section class="section-py first-section-pt" style="margin-top: 100px;">
    <div class="row">
      <div class="col-lg-12">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="home" role="tabpanel">
            <div class="table-responsive">
              <div class="course-table">
                <div class="course-row" *ngFor="let item of CoursEnLigne">
                  <div class="course-info">
                    <div class="course-date-time">
                      <span class="course-day">{{ item.date | date: 'EEEE, dd MMMM yyyy' }}</span>
                      <span class="course-time">{{ item.duree }} min</span>
                    </div>
                    <div class="course-details">
                      <span class="course-type">{{ item.categorie_cours.description }}</span>
                      <span class="course-name">{{ item.description }}</span>
                      <span class="instructor">{{ item.instructor.nom }} {{ item.instructor.prenom }}</span>
                    </div>
                  </div>
                  <div class="course-reserve">
                    <span class="price">{{ item.frais }} DT </span>
                    <div *ngIf="item.liigneCours !== null">
                                              
                      <!-- Display buttons if approuve is false and paye is false -->
                      <div *ngIf="!item.liigneCours.paye">
                         
                          <div class="primary-btn">
                              <a class="btn btn-primary text-light" style="background-color: #5a91b6;" [routerLink]="['../payer', 'cours', item.id]">Payer</a>
                          </div>
                      </div>
              
                      <!-- Display 'Payé' if paye is true -->
                      <div *ngIf="item.liigneCours.paye">
                          <span>Payé</span>
                      </div>
              
                      <!-- Display 'En cours' if approuve is false and paye is false -->
                      <div *ngIf="!item.liigneCours.approuve">
                          <span>En cours</span>
                      </div>
              
                      <!-- Display 'Approuvé' if approuve is true -->
                      <div *ngIf="item.liigneCours.approuve">
                          <span>Approuvé</span>
                      </div>
                      <div *ngIf="item.liigneCours?.approuve && item.liigneCours?.paye">
                          <button [routerLink]="['../../candidat/detailcous', item.id]">
                              <span>Consulter</span>
                          </button>
                      </div>
                  </div>
                  <div *ngIf="item.liigneCours==null">
                      <div class="primary-btn" style="margin-bottom: 10px;">
                          <a class="btn btn-primary text-light" style="background-color: #5a91b6;"[routerLink]="['auth/login']">Demande de participation</a>
                      </div>
                      <div class="primary-btn">
                          <a class="btn btn-primary text-light" style="background-color: #5a91b6;" [routerLink]="['auth/login']">Payer</a>
                      </div>
                  </div>                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /col end -->
    </div>
  </section>
  <!-- Popular Articles: Start -->
  
  <!-- Contact Us: End -->
  
  <!-- Footer: Start -->
  <!-- Footer: End -->
  