  <!-- Content -->

  <div class="container-xxl">
    <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>

    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Enregistrement -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                          <img src="https://expertdev-solutions.com/zen_gym_site/images/logo.png"  style="width:80%;">

                            </span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Mot de passe oublié ? 🔒</h4>
<p class="mb-4">Entrez votre email et nous vous enverrons un email pour réinitialiser votre mot de passe.</p>

                    <form id="formAuthentication" class="mb-3" #f=ngForm (ngSubmit)="onSubmit(f)">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email ou Nom d'utilisateur</label>
                            <input
                                type="text"
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Entrez votre email ou nom d'utilisateur"
                                autofocus ngModel required
                                #email=ngModel pattern="[a-zA-Z0-9.]+@[a-zA-Z]+.[a-zA-Z]{2,4}">
                        </div>
                        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                            <div *ngIf="email.errors?.['required']"> L'email est requis</div>
                            <div *ngIf="email.errors?.['pattern']"> Le format de l'email est incorrect</div>
                        </div>
              
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="f.invalid">Send Reset Link</button>
                        </div>
                    </form>
                    <div class="alert alert-danger" role="alert" *ngIf="correctuser">
                        <i class="fa fa-exclamation-circle me-2"></i> email inccorecte
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="passwordResetSuccess">
                        <i class="fa fa-check-circle me-2"></i>Email de réinitialisation du mot de passe envoyées à votre adresse e-mail.
                    </div>
                    <p class="text-center">
                        <span>Nouveau sur notre plateforme ?</span>
                        <a routerLink="../register">
                            <span>Créer un compte</span>
                        </a>
                        <a routerLink="../login" class="d-flex align-items-center justify-content-center">
                            retourner vers login
                          </a>
                    </p>
                </div>
            </div>
            <!-- /Enregistrement -->
        </div>
    </div>
</div>

  <!-- / Content -->
