<h5 class="pb-2 border-bottom mb-4">
    Ajouter Participants
</h5>
<div class="info-container">
    <form (ngSubmit)="submitForm()">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="datatables-nouveauInstructors table border-top"
    id="table"
>
    <thead>
        <tr>
            <th style="width: 50px">
                <input type="checkbox" (change)="selectAll($event)" />
            </th>
            
            <th style="width: 50px"></th>

            <th style="text-align:center">Nom</th>
            <th style="text-align:center">Prénom</th>
            

            <th style="text-align:center;width: 90px"></th>
        </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let admin of Instructors">

        <td style="text-align:center">
            <input type="checkbox" [(ngModel)]="admin.selected" (change)="checkSelected()" name="adminCheckbox" />
        </td>
                <td style="text-align:center">
                    <img src="https://cdn-icons-png.flaticon.com/512/3410/3410150.png" alt="" style="width:30px;">
                </td>
                <td style="text-align:center">
                    {{admin.nom}}
                </td>
                <td style="text-align:center">
                     {{admin.prenom}}
                </td>
   
               
            </tr>
                                                                                </tbody>
</table>
<div class="d-flex justify-content-center pt-3">

<button type="submit" class="btn btn-primary">Ajouter a la formation</button>
</div>

    </form>

</div>