
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
          <!-- Menu -->
  <app-sidebar></app-sidebar>
         
          <!-- / Menu -->
  
          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->
  <app-navbar></app-navbar>   
  
            <!-- / Navbar -->
  
            <!-- Content wrapper -->
            <div class="content-wrapper">
              <!-- Content -->
  
         
              <!-- / Content -->
    <!-- Content -->
  
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">

                    <!-- nouveauevenementss List Table -->
                    <div class="card" style="padding: 10px">
                                                                        
                        
                        
                        
                        
                        
                        
                        
                        
                        



                            <div style=" float: right;text-align: right">
                            
                            </div>

                            <div class="card-datatable table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                    class="datatables-nouveauevenementss table border-top"
                                    id="table"
                                >
                                    <thead>
                                        <tr>
                                            <th style="width: 50px"></th>
                                            <th style="text-align:center">Code</th>
                                            <th style="text-align:center">Description</th>
                                            <th style="text-align:center">Événement réalisée</th>
                                            <th style="text-align:center">Date début</th>
                                            <th style="text-align:center">Date fin</th>
                                            <th style="text-align:center">Heure début</th>
                                            <th style="text-align:center">Heure fin</th>
                                            <th style="text-align:center">Nombre de participants</th>
                                            <th style="text-align:center">Nombre de places disponibles</th>
                                            <th style="text-align:center">Nombre de places restants</th>
                                            <th style="text-align:center">Type d&#039;événement</th>
                                            <th style="text-align:center">Type d&#039;événement</th>
                                            
        
                                            <th style="text-align:center;width: 90px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr  *ngFor="let evenement of evenementss">

                                                <td style="text-align:center">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/3410/3410150.png" alt="" style="width:30px;">
                                                </td>
                                                <td style="text-align:center">{{ evenement.code }}</td>
                                                <td style="text-align:center">{{ evenement.description }}</td>
                                                <td style="text-align:center">{{ evenement.evenementRealisee }}</td>
                                                <td style="text-align:center">{{ evenement.dateDebut }}</td>
                                                <td style="text-align:center">{{ evenement.dateFin }}</td>
                                                <td style="text-align:center">{{ evenement.heureDebut }}</td>
                                                <td style="text-align:center">{{ evenement.heureFin }}</td>
                                                <td style="text-align:center">{{ evenement.nombreParticipants }}</td>
                                                <td style="text-align:center">{{ evenement.nombrePlacesDisponibles }}</td>
                                                <td style="text-align:center">{{ evenement.nombrePlacesRestants }}</td>
                                                <td style="text-align:center">{{ evenement.typeEvenement.description }}</td>
                                                <td style="text-align:center">
                                                    <span *ngIf="evenement.linkMeet">
                                                        <a href="{{evenement.linkMeet}}">lien d'evenment en ligne</a>
                                                    </span>
                                                    <span *ngIf="evenement.emplacement">
                                                        {{evenement.emplacement}}
                                                    </span>
                                               </td>
                                             
                                            </tr>
                                                                                                                </tbody>
                                </table>
                            </div>



                    </div>





                </div>
                <form (ngSubmit)="delete()" class="add-new-nouveauevenements pt-0">
 <div class="modal-onboarding modal fade animate__animated" id="onboardImageModal" tabindex="-1" aria-hidden="true" >
    <div class="modal-dialog" role="document" >
        <div class="modal-content text-center">
            <div class="modal-body p-0">
                <div class="onboarding-media">
                    <div class="mx-2">
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/man-throwing-trash-9062426-7408544.png?f=webp" style="width:200px">
                    </div>
                </div>
                <div class="onboarding-content mb-0">
                    <h4 class="onboarding-title text-body">Êtes-vous sûr?</h4>






                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">

                                <input class="form-control" placeholder="Enter your full name..." type="hidden" value="" tabindex="0" id="champ_id" name="champ_id">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="modal-footer border-0">
                            <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Oui</button>
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Non</button>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

                </form>


                <div
                    class="offcanvas offcanvas-end"
                    tabindex="-1"
                    id="offcanvasAddnouveauevenements"
                    aria-labelledby="offcanvasAddnouveauevenementsLabel"
                >
                    <div class="offcanvas-header">
                        <h5
                            id="offcanvasAddnouveauevenementsLabel"
                            class="offcanvas-title"
                        >
                            Ajouter un evenements

                        </h5>
                        <button
                            type="button"
                            class="btn-close text-reset"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div
                        class="offcanvas-body mx-0 flex-grow-0"
                    >

                    <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)" enctype="multipart/form-data" class="row g-3">
                        <div class="mb-3">
                            <label class="form-label" for="cat_evenements">Catégorie des evenementss</label>
                            <select name="cat_evenements" class="form-select" ngModel required #cat_evenements="ngModel">
                                <option value="null" [disabled]="true">Sélectionner une catégorie</option>
                                <option *ngFor="let cat of categ_evenementss" [value]="cat.id">{{ cat.descriptionarcond }}</option>

                            </select>
                            <div class="text-danger" *ngIf="cat_evenements.invalid && (cat_evenements.dirty || cat_evenements.touched)">
                                <div *ngIf="cat_evenements.errors?.['required']">La catégorie est requise.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="nom">Nom</label>
                            <input type="text" name="nom" class="form-control" ngModel required pattern="[a-zA-Z0-9]+" #nom="ngModel">
                            <div class="text-danger" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                                <div *ngIf="nom.errors?.['required']">Le nom est requis.</div>
                                <div *ngIf="nom.errors?.['pattern']">Le nom ne doit contenir que des lettres et des chiffres.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="prenom">Prénom</label>
                            <input type="text" name="prenom" class="form-control" ngModel required #prenom="ngModel">
                            <div class="text-danger" *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)">
                                <div *ngIf="prenom.errors?.['required']">Le prénom est requis.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="adresse">Adresse</label>
                            <input type="text" name="adresse" class="form-control" ngModel required #adresse="ngModel">
                            <div class="text-danger" *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)">
                                <div *ngIf="adresse.errors?.['required']">L'adresse est requise.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="tel1">Téléphone 1</label>
                            <input type="text" name="tel1" class="form-control" ngModel required #tel1="ngModel">
                            <div class="text-danger" *ngIf="tel1.invalid && (tel1.dirty || tel1.touched)">
                                <div *ngIf="tel1.errors?.['required']">Le Téléphone 1 est requis.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="tel2">Téléphone 2</label>
                            <input type="text" name="tel2" class="form-control" ngModel required #tel2="ngModel">
                            <div class="text-danger" *ngIf="tel2.invalid && (tel2.dirty || tel2.touched)">
                                <div *ngIf="tel2.errors?.['required']">Le Téléphone 2 est requis.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" name="email" class="form-control" ngModel required email #mail="ngModel">
                            <div class="text-danger" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
                                <div *ngIf="mail.errors?.['required']">L'email est requis.</div>
                                <div *ngIf="mail.errors?.['email']">L'email doit être une adresse email valide.</div>
                            </div>
                        </div>
                      
                        
                     
                        <div class="mb-3">
                            <label class="form-label" for="code_postal">Code postale</label>
                            <input type="text" name="code_postal" class="form-control" ngModel required #code_postal="ngModel">
                            <div class="text-danger" *ngIf="code_postal.invalid && (code_postal.dirty || code_postal.touched)">
                                <div *ngIf="code_postal.errors?.['required']">Le Code postale est requise.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="mt_affiliation">montant d'affiliation</label>
                            <input type="number" name="mt_affiliation" class="form-control" ngModel required #mt_affiliation="ngModel">
                            <div class="text-danger" *ngIf="mt_affiliation.invalid && (mt_affiliation.dirty || mt_affiliation.touched)">
                                <div *ngIf="mt_affiliation.errors?.['required']">Le mt_affiliation est requis.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="salle_id">salle de sport</label>
                            <select name="salle_id" class="form-select" ngModel required #salle_id="ngModel">
                                <option value="null" [disabled]="true">Sélectionner une salle de sport</option>
                                <option *ngFor="let s of sps" [value]="s.id">{{s.nomsalle}}</option>
                            </select>
                            <div class="text-danger" *ngIf="salle_id.invalid && (salle_id.dirty || salle_id.touched)">
                                <div *ngIf="salle_id.errors?.['required']">La salle de sport est requis.</div>
                            </div>
                        </div>
               
                        <!-- Ajoutez d'autres champs requis pour les instructeurs ici -->
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit" id="submitButton" [disabled]="userForm.invalid">Valider</button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Annuler</button>
                    </form>
                    
                    
                    </div>
                </div>
                <!-- / Content -->
  
  
    <!-- / Content -->
              <!-- Footer -->
            <app-footer></app-footer>
              <!-- / Footer -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
      <!-- / Layout wrapper -->
  
      
  
   
    