  <div class="container-fluid position-relative bg-white d-flex p-0">
     


    <!-- Sidebar Start -->
<app-sidebar></app-sidebar>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
     <app-navbar></app-navbar>        <!-- Navbar End -->
        <div class="mat-card-container">
            <mat-card *ngFor="let tile of tileDataView" class="mat-card-item">
              <mat-card-content>
                <h3>{{ tile.title }}</h3>
                <a [routerLink]="tile.link">Voir plus</a>
              </mat-card-content>
            </mat-card>
          </div>
        
     


        <!-- Footer Start -->
     <app-footer></app-footer>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
